<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskPilot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🚀 TaskPilot</h1>

    <form method="POST">

        <input
            type="text"
            name="task"
            placeholder="Enter a task..."
            required
        >

        <button type="submit">
            Add Task
        </button>

    </form>

    <ul>

        {% for task in tasks %}

        <li>

            <div class="task-left">

                <a class="toggle-btn" href="/toggle/{{ task.id }}">

                    {% if task.completed %}
                        ✅
                    {% else %}
                        ⬜
                    {% endif %}

                </a>

                <span class="{% if task.completed %}completed{% endif %}">
                    {{ task.title }}
                </span>

            </div>

            <a class="delete-btn" href="/delete/{{ task.id }}">
                🗑
            </a>

        </li>

        {% endfor %}

    </ul>

</div>

</body>
</html>